{% extends "network/layout.html" %}
{% load static %}

{% block body %}
	<section class="bg-light" id="profile__component"></section>
	<section class="bg-light">
		<form class="newPost" method="POST">
			{% csrf_token %}
			<h3 class="newPost__heading">New Post</h3>
			<textarea class="newPost__input" placeholder="What is happening..."></textarea>
			<button class="btn btn-primary newPost__submit">Post</button>
		</form>
	</section>

	<section id="pagination"></section>
	<section class="bg-light" id="posts__component"></section>

{% endblock %}

{% block script %}
	<script src="{% static 'network/network.jsx' %}" type="text/jsx"></script>
{% endblock %}
